build-essential
chrpath
cmake
cpio
debianutils
device-tree-compiler
diffstat
file
g++-multilib
gawk
gcc-multilib
git
git-core
iputils-ping
libcrypto++-dev
libsdl1.2-dev
libssl-dev
make
python
python3
python3-pexpect
python3-pip
qemu
socat
texinfo
unzip
wget
xterm
xz-utils
zlib1g-dev
